/************** Body & Wrapper **************/

html, body {
  max-width: 100%;
}

body {
  background-color: $white;
}

.panel {
  display: none;
  position: fixed;
  z-index: 90;
  width: 100vw;
  height: 100vh;
}

a, a:visited, a:link,
a:hover, a:focus, a:active {
  text-decoration: none;
}

/************** Spinner **************/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

$spinnerSize: 66.6vh;

#spinner {
  position: fixed;
  z-index: 2;
  display: block;
  height: $spinnerSize;
  width: $spinnerSize;

  img {
    display: block;
    height: 100%;
    width: 100%;
    animation: rotate 166.6s linear infinite;
  }
}
